<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Swig</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
	<script src="swig.js"></script>
	<script src="list.js"></script>

	<script src="app.js"></script>
</head>
<body>
	<script type="text/swig" class="poll-template">
		{% for item in list %}
			<li class="clear-group">
				<input type="text">

				<ul data-sublist="choices"></ul>

				<div data-template="buttons-rtl"></div>
			</li>
		{% endfor %}
	</script>

	<script type="text/swig" class="choice-template">


		{% for item in list %}
			<li class="clear-group">

				<input type="text">
				<div data-template="buttons-rtl"></div>
			</li>
		{% endfor %}
	</script>
	    
	<ul class="list"></ul>
</body>
</html>