<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Basic jQuery List Demo</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
	<script src="http://paularmstrong.github.com/swig/js/swig.pack.min.js"></script>
	<script src="../jquery.list.js"></script>

	<script>
	$(function() {
		$('.list').list('.template');
	});
	</script>
</head>
<body>
	<ul class="list"></ul>

	<script type="text/swig" class="template">
	{% for item in list %}
		<li>Item {{ loop.index }} <span data-role="add">+</span> {% if showdelete %}<span data-role="delete">-</span>{% endif %}</li>
	{% endfor %}
	</script>
</body>
</html>